In [3]:
openai_api_key='<<insert-key-here>>'

In [4]:
from langchain.llms import OpenAI

llm = OpenAI(model_name="text-davinci-003",temperature=0,top_p=1.0,presence_penalty=0.0,frequency_penalty=0.0, openai_api_key=openai_api_key)

prompt = """
Given the following table

CREATE DATABASE sales;

USE sales;

CREATE TABLE products (
  product_id INT AUTO_INCREMENT PRIMARY KEY,
  product_name VARCHAR(255) NOT NULL,
  product_description VARCHAR(255) NOT NULL,
  product_price DECIMAL(10,2) NOT NULL
);

CREATE TABLE orders (
  order_id INT AUTO_INCREMENT PRIMARY KEY,
  order_date DATE NOT NULL,
  order_total DECIMAL(10,2) NOT NULL,
  customer_id INT NOT NULL,
  sales_person_id INT NOT NULL,
  customer_location VARCHAR(255) NOT NULL,
  FOREIGN KEY (customer_id) REFERENCES customers (customer_id),
  FOREIGN KEY (sales_person_id) REFERENCES sales_people (sales_person_id)
);

CREATE TABLE customers (
  customer_id INT AUTO_INCREMENT PRIMARY KEY,
  customer_name VARCHAR(255) NOT NULL,
  customer_email VARCHAR(255) NOT NULL,
  customer_phone VARCHAR(255) NOT NULL,
  customer_location VARCHAR(255) NOT NULL
);

CREATE TABLE sales_people (
  sales_person_id INT AUTO_INCREMENT PRIMARY KEY,
  sales_person_name VARCHAR(255) NOT NULL,
  sales_person_email VARCHAR(255) NOT NULL,
  sales_person_phone VARCHAR(255) NOT NULL
); 

Give me a sql statement that returns the top sales person by location
"""

llm(prompt)

'\nSELECT sales_people.sales_person_name, customers.customer_location, COUNT(orders.order_id) AS total_orders\nFROM orders\nINNER JOIN customers ON orders.customer_id = customers.customer_id\nINNER JOIN sales_people ON orders.sales_person_id = sales_people.sales_person_id\nGROUP BY sales_people.sales_person_name, customers.customer_location\nORDER BY total_orders DESC;'